#wrapper{
	margin:100px 20px 0 20px;
}

h1{
	font-size: 35px;
	letter-spacing: 11px;
	line-height: 15px;
	color: rgb(28,28,28);
	font-family: "Proxima Nova";
	font-weight: bold;
	text-align: center;

}

h2{
	font-size: 14px;
	line-height: 30px;
	color: rgb(143,143,143);
	font-family: "Georgia";
	font-style: italic;;
	text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.first-row, .second-row, .third-row{
	width: 100%;
	height: 100%;
	position: relative;
}
.cell {
	width: 250px;
	height: 360px;
	float: left;
	margin-left:10px;
	position: relative;
}

.cell .comment, .hashtag{
	color: #25f1b0;
}

.caption{
	width: 250px;
	position: absolute;
	bottom: 0;
}

.footer{
	font-size: 12px;
	position: absolute;
	margin:0;
	bottom: -20px; /* za da ne vleze v samata snimka*/
}